Source: tuquito-menu
Section: admin
Priority: optional
Maintainer: Mario Colque <mario@tuquito.org.ar>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: tuquito-menu
Architecture: all
Depends: python (>= 2.4), python (<< 3), python-gtk2, python-glade2, deskbar-applet, python-gmenu, python-gnomeapplet
Description: Menú Avanzado para Gnome
 Uno de los más avanzados menues en Linux. Soporta filtrado, favoritos, desinstalacion fácil, autosessión, y varias características más. Basado en MintMenu
 * Tuquito Team! -2010
